@{
    ViewBag.Title = "Index";
    ViewBag.bodyClass = "sidebar-hidden";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="main" style="opacity: 1; min-height: 658px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="big-banner">
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .big-banner{
        height:200px;
        width:100%;
        display:block;
        background-image:url('http://alysiamontano.com/wp-content/uploads/2013/01/Blu-BKGD.jpg');
    }

    .panel {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #FCFCFC;
        border: 0;
        -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
        -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
        box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    }
    .panel-stat .panel-heading {
        padding: 15px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .panel-stat .stat {
        color: #FFF;
        max-width: 250px;
    }
        .panel-stat .stat img {
            text-align: center;
        }
    .panel-stat .stat-label {
        text-transform: uppercase;
        font-size: 11px;
        opacity: 0.75;
        display: block;
        line-height: normal;
        margin-bottom: 2px;
    }
    .panel-stat h1 {
        margin: 0;
        line-height: 36px;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 38px;
    }
</style>
