

<style type="text/css">
    .sub-nav-bar {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
</style>
<br />
<br />
<style type="text/css">
    .panel .panel-heading .panel-actions a i.fa {
        color: #666666;
        font-weight: bold;
    }
</style>

<div class="panel panel-default">

    <div class="panel-heading">
        @*<h2><i class="fa fa-list"></i>Velocity Limits</h2>*@
        <div class="panel-actions pull-left">
            <a href="javascript:;" class="btn-close"><i class="fa fa-refresh"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="sub-nav-bar">
            <table id="tblCards" class="table bootstrap-datatable datatable small-font" data-dtable options="dtOptions">
                <thead>
                    <tr>
                        <th style="width: 200px">Applicant ID</th>
                        <th>Card Type</th>
                        <th>Emboss Name</th>
                        <th>Driver Name</th>
                        <th>VRN</th>
                        <th>Card No</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

