@using FleetOps.Helpers;
@model ModelSector.LookupParameters
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="/Home">Home</a></li>
            <li>Look Up Parameters</li>
        </ol>
        <h1><small>Look Up Parameters - <strong>{{$root.selectedObj.Text}}</strong></small></h1>
    </div>

</div>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*<h2><i class="fa fa-list"></i>Velocity Limits</h2>*@
            <div class="panel-actions pull-left">
                @if (!Html.NotAuthorized("lup", "btnNew"))
                {
                    <a href="javascript:;" @(Html.IsReadOnly("lup", "btnNew") ? "disabled=disabled" : "ng-click=modalClick();") class="btn-minimize"><i class="fa fa-plus"></i>&nbsp;New</a>
                }
                <a href="javascript:;" ng-click="refresh();" class="btn-close"><i class="fa fa-refresh"></i></a>
                <span style="display:none" id="tblAddress-options"><a href="javascript:;"><i class="fa fa-trash-o"></i></a></span>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-holder">
                <table class="table bootstrap-datatable datatable small-font" data-dtable options="dtOptions">
                    <thead ng-switch on="$root.selectedObj.Key">
                        <tr>
                            <th>Country</th>
                            <th>State Code</th>
                            <th>State Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal md-modal md-effect-1" role="dialog" aria-labelledby="myModalLabel" app-modal trigger="modalOpen" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header" data-toggle="modal">
                        <button type="button" ng-click="modalOpen=false;" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h2>Look Up Parameters Maintenance: {{_Object.ContactName}} </h2>
                    </div>
                    <div class="modal-body small" ng-switch on="$root.selectedObj.Key">
                        <div>
                            <div class="col-sm-4">
                                @Html.CustomNgSelectListFor(model => model.Country, Model.Countries, new { required = true }, new { @Name = "Countries", @section = "lup", ng_disabled = "isUpdate", on_select = "CountryChanged($item, $model);" })
                            </div><div class="col-sm-4">
                                @Html.CustomNgTextBoxFor(model => model.StateCode, new { required = true }, new { @section = "lup", @ng_disabled = "editMode" })
                            </div>
                            <div class="col-sm-4">
                                @Html.CustomNgTextBoxFor(model => model.StateName, new { required = true }, new { @section = "lup" })
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-actions">
                            <button data-customsubmit="saveChanges();" class="btn btn-primary btn-cons" data-validation-form class=" btn btn-primary">Save</button> @*btnXXXXX*@
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


