<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--172.30.115.149\MSSQLSERVER2014,1457-->
  <!--<add name="CCMSEntity" connectionString="server=172.30.115.149\MSSQLSERVER2014,1457;Initial Catalog=pnx_ccms;Persist Security Info=True;User ID=cmsadmin;Password=PA33w0rd;Max Pool Size=1000;Connect Timeout=60" />
  <add name="CCMSEntityWeb" connectionString="server=172.30.115.149\MSSQLSERVER2014,1457;Initial Catalog=pnx_ccms_web;Persist Security Info=True;User ID=cmsadmin;Password=PA33w0rd;Max Pool Size=1000;Connect Timeout=60" />-->
  <!--<add name="pdb_ccmsContext" connectionString="G6ynum6yGqMGsCXelANBbpAPZ0pXlUbq55yicoKIk32qeyFjFDZkW0KDx1gN0rr8MH2Gnc2cTZam9HfND+3YMrGqYv/EJRuNeUzZyZOTbldyfMuuwBfnChd8i/Yb3qGporkrkHFTXFh73Lj/dfZv57Ty/V4JXT9fqXmbqpQaEVeFIa0GuE6axfBIUZU7AdhKEN1J1FcpYrfejUElnecolNJhb3JB4x8rEESZpQkyv88=#####" />
  <add name="CCMSEntityWeb" connectionString="G6ynum6yGqMGsCXelANBbpAPZ0pXlUbq55yicoKIk32qeyFjFDZkW0KDx1gN0rr8MH2Gnc2cTZam9HfND+3YMivo8NBpS7vwbKOJhKNZmYbFXl6lmRhv9W1+ROUBJMzxuPnzxz0Y4AaXl91Cq1DIIjRBv3/BE/Yv0aU/+acAq+68jihDkae1bkMvBuq/YEt1h6XgFNMUiWi6FQ/Rs9quRVd4cIt42Y+pDKdmDATNjyQ=#####" />-->
  <add name="pdb_ccmsContext" connectionString="mWeAK5qwCd9kmVMMr1NERKyZfSywyIp51xm/qy5iPNf2s4XIGeqhrj/8BD3T1UY4mVcsq2Gs+P+C/1Y7dc8c45FopUoCu8yO40l5hUken6HGxFOAE7zdTdHqKm1/4Dk6wuOU53SnCepX0EDD98ctVqGKZewqulQna1miRHR2lI5bnuloIR2X8kVrdaJXnL8aMonNwbPeS6i2O/5Agxy1xA==#####" />
  <add name="pdb_ccmsEntityWebContext" connectionString="mWeAK5qwCd9kmVMMr1NERKyZfSywyIp51xm/qy5iPNdqtCN2a8RXDBx3FIf7TMBrSa2WZdJErwlY+bVigihSm+8sW+tQuHBPnk3Odac0w1iNcVHd4NKaI/ClRLpyHe8rfst4ETb0Mr7FyyMmb+9OvDsvY54VMeNJuqXCDgIKqFxlpjoz+NHV5dFTxFrq9fu7AECNwRJ/IOBrvwX23guvyg==#####" />
</connectionStrings>