
@{
    ViewBag.Title = "Event Configuration | FleetOps";
    ViewBag.ng_app = "CardtrendApp";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

@section ModuleSidebar
{
    <style type="text/css">
                       
        .form-group {
            border-bottom: 1px dashed #eee;
        }
        .sidebar-menu {
            height: auto;
        }

        .sidebar ul.nav.nav-sidebar {
            padding-bottom: 30px;
        }

        td.detail-toggler {
            background: url('@System.Configuration.ConfigurationManager.AppSettings["urlPrefix"]/Content/images/details_open.png') no-repeat center center;
            cursor: pointer !important;
        }

        tr.shown td.detail-toggler {
            background: url('@System.Configuration.ConfigurationManager.AppSettings["urlPrefix"]/Content/images/details_close.png') no-repeat center center;
        }
        .modal-footer{
            overflow: hidden;
        }
        .modal-body.small{
        overflow:visible;
        }
    </style>
  <div class="sidebar-collapse" routing-menu>
    <div class="sidebar-header">
        <div class="btn-group btn-group-justified">
            <a href="#/" data-redirect="index" class="btn btn-primary btn-sm" role="button"><i class="fa fa-list"></i>&nbsp;Show List</a>
                <a href="#/new" data-redirect="new" class="btn btn-success btn-sm" role="button"><i class="fa fa-plus"></i>&nbsp;New</a>
        </div>
    </div>
</div>

}
<div class="main" style="opacity: 1; min-height: 658px;">
    <ng-view></ng-view>
</div>
@section CustomPageScript
{
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/uiselect.js"></script>
    <link href="~/Scripts/uiselect.css" rel="stylesheet" />
    <link href="~/Scripts/select2.css" rel="stylesheet" />
    <script src="~/Scripts/angular-time.js"></script>
    <script src="~/ng/Utils.js"></script>
    <script src="~/ng/Apps/Event Configuration/EventConfiguration.js"></script>
    <script src="~/ng/Apps/Event%20Configuration/EventConfigService.js"></script>
    <script src="~/ng/Apps/Event%20Configuration/EventConfigController.js"></script>
    <link href="~/Content/css/wizard.css" rel="stylesheet" />
    <script src="~/Content/css/wizard.js"></script>
    <script src="~/Content/css/formWizard.js"></script>
    <script src="~/Content/scripts/velocity.js"></script>
    <script type="text/javascript">
    </script>
}
